:root{
    --primary-purple: #8484C3;
    --light-purple: #FFF;
    --text: #2E2E3A;
}

#wrapper {
    display: flex !important;  
    flex-flow: row;
    height: 100vh;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header {
    display: flex;
    flex: 0 0 20%;
    flex-direction: column; 
    text-align: center;
    font-size: 1rem;
    color: var(--off-white);
    background-size: cover;
    padding: 0px;
}

#branding{
    margin: 15% 0% 10% 0%;
}
#branding h1{
    font-size: 1rem;
}
#header img{
    max-width: 100px;
    border-radius: 50%;
    margin:auto;
}

#content {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: var(--light-purple);
}


@media only screen and (max-width: 960px) {
    #wrapper, main, header {
       flex-direction: column;
       flex: 1;
    }
    #branding, .photo-credit{
        margin: 5% 0%;
    }
    .form-container, .sign-up-form, .form-container .submit {
        flex-direction: column;
     }
     .sign-up-form{
         align-content: stretch;
     }
     button{
         padding: 5%;
     }
}