:root {
  --background:  #F4EBE8;
  --text: #053C5E;
  --accent: #61988E;
}
.app{
 max-width: 100px;
}

body {
  background-color: var(--background);
  color: var(--text);
  margin: auto;
  max-width: 1800px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1{ 
  text-align: center;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

.post {
  background-color: var(--background);
  border: 3px solid var(--accent);
  border-radius: 5px;
  padding: 1rem;
}

a {
  color: var(--text);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
}

a:hover {
  color: var(--accent);
  text-decoration: underline dashed var(--text);
}

.single-post {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.single-post img{
  max-width: 800px;
  height: auto
}

.loading{
  text-align: center;
  font-size: .9rem;
  margin: 2rem;
}