<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!--
1. Write a JavaScript program to display the current day and time in the following format.  Go to the editor
Sample Output : Today is : Tuesday.
Current time is : 10 PM : 30 : 38
-->
    <p>Today is: <span id="day"></span>.</p>
    <p>Current time is: <span id="time"></span>.</p>

<script>

const day = document.getElementById('day');
const time = document.getElementById('time');

day.innerText = new Date().toLocaleString('en-US', { weekday: 'long' });
time.innerText = new Date().toLocaleTimeString();

</script>

</body>
</html>